@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Raleway:ital@0;1&display=swap');

body{
    margin: 0px;
    padding: 0px;
    width: 1160px center;
 }

.resume {
    width: 1160px;
    margin:auto;
}
.profile-1{
    background-color: #782221;
    text-align: center;
   padding-top: 30px;
} 

.h1{
    margin: 0px;
    padding: 0px;
    padding-top:20px;
}


h2{
    background-color:#dbc2a4 ;
    font-family: 'Lato', sans-serif;
    color: black;
    
}


h4{
    font-family: 'Lato', sans-serif;

}

p {
    font-family: 'Raleway', sans-serif; 
    margin: auto;
}
    

li{
    font-family: 'Raleway', sans-serif; 
}
.job{
    background-color: #782221;
    display: flex;
    padding: 20px;
    padding-top: 10px;
}
.contact{
display: flex;
background-color: #2c1d27;
margin: 0px;
padding: 35px;
}

.information-1{
display: flex;
}
.right-side{  
    background-color:#782221;
    color: white;
    width: 300px;
}
.right-side p{
padding-left: 20px;
text-align:center;
}

   
.left-side h2{
    border-left-width: 7px; 
    border-left-style: solid;
    border-left-color: #782221;
}

 .information-2{
    color: black;
    background-color: white;
    padding-left: 20px;
    width: 860px;
 }

footer{
    margin: 0px;
    padding-top: 20px;
    background-color: #782221;
    padding-bottom: 20px;
    text-align: center;

 }
.datetime{
    color: white;   
    padding-top: 20px;
}



