
body{
    margin: 0px;
    padding: 0px;
    width: 1160px center;
 }

.profile-1{
    background-color: #782221;
    text-align: center;
   padding-top: 30px;
} 

.h1{
    padding-top:20px;
}

.job{
    background-color: #782221;
    display: flex;
    padding: 20px;
    padding-top: 10px;
}
.contact{
display: flex;
background-color: #2c1d27;
margin: 0px;
padding: 35px;
}


.information-1{  
    background-color:#782221;
    margin: 0px;
    display: grid;
    grid-template-columns: 0.33fr 1fr;
    color: white;
}

 .information-2{
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    color: black;
    background-color: white;
 }

 .social-networks{
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr ;
    overflow: hidden;
    background-color: #782221;
 }


main{
    /* height: 100px; */

}

.resume {
    width: 1160px;
    margin:auto;
}