@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Raleway:ital@0;1&display=swap');

body{
    margin: 0px;
    padding: 0px;
    width: 1160px;
    margin:auto; 
    border-right: 1px solid;
}


.profile-1{
    background-color: #782221;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 1px;
} 

.profile-1 img{
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 10px #dbc2a4;
    transition: transform 0.3s; 
}


.profile-1 h1{
    color: white;
    font-family: 'Lato', sans-serif;
}
   
.profile-1 h1{
    color: white;
    font-family: 'Lato', sans-serif;
}


.profile-1:hover img{
    transform: scale(1.2);
    cursor: zoom-in;
}

h1{
    margin: 0px;
    padding: 0px;
    padding-top:20px;
    font-family: 'Lato', sans-serif;
    color: white;
} 

h2{
    background-color:#dbc2a4 ;
    font-family: 'Lato', sans-serif;
    color: black;   
}

h4{
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif; 
    margin: auto;
}
    
li{
    font-family: 'Raleway', sans-serif; 
}

.job{
    background-color: #782221;
    display: flex;
    padding: 20px;
    padding-top: 1px;
}

.job p{
    color: white;
    font-family: 'Lato', sans-serif;
}

address{
display: flex;
background-color: #2c1d27;
padding: 35px;
}



.information-1{
display: flex;
}

.right-side{  
    background-color:#782221;
    color: white;
    width: 300px;
    
}

.right-side p{
    text-align: center;
    padding-left: 20px;
}

.left-side h2{
    border-left-width: 7px; 
    border-left-style: solid;
    border-left-color: #782221;
}

.left-side:hover h2{
    color:#782221 ;
}

.information-2{
    color: black;
    background-color: white;
    padding-left: 20px;
    width: 860px;
 }

footer{
    margin: 0px;
    padding-top: 20px;
    background-color: #782221;
    padding-bottom: 20px;
    text-align: center;
}

.social-icons{
    width: 40%; 
    height: auto; 
    display: block; 
    margin-left: auto; /* Centrer horizontalement */
    margin-right: auto;
}

.social-icons a{
    margin: 0 10px;
}

.social-icons img:hover{
opacity:0.8 ;
}

.datetime{
    color: white;   
    padding-top: 20px;
}



